.editorContainer {
  @apply flex flex-col lg:h-full h-1/2
  text-center text-white text-lg;

  .navbar {
    @apply relative flex min-h-[28px] h-7 w-full px-1 items-center justify-start;
    .icon {
      @apply h-full w-8 box-border bg-white bg-opacity-5
      border-2 border-b-0 border-gray-500 py-[2px]
      hover:bg-opacity-10 clickable;
    }
    .icon.selected {
      @apply bg-opacity-10;
    }
    .html-icon {
      @apply text-orange-500 
      border-r-0 border-b-0 rounded-tl-md;
    }
    .css-icon {
      @apply text-blue-400
      border-l-0 rounded-tr-md;
    }

    .title {
      @apply absolute left-1/2 -translate-x-1/2 select-none;
    }
    .window-resize-icon {
      @apply absolute left-[97%] -translate-x-full clickable text-white;
    }
  }
  .main-editor-navbar {
    @apply h-8 w-full border-gray-900 border-4 border-b-gray-800;
    .icon {
      @apply h-full box-border bg-white bg-opacity-5 py-[2px]
      hover:bg-opacity-20 clickable w-1/2;
    }
    .icon.selected {
      @apply bg-opacity-10;
    }
    .html-icon {
      @apply text-orange-500;
    }
    .css-icon {
      @apply text-blue-400;
    }
  }
  .editor {
    @apply text-start h-full text-sm w-full 
    overflow-clip border-4 border-t-0 border-solid border-gray-900;

    .line-numbers {
      @apply pl-1;
    }
    .cm-scroller {
      @apply scrollbar-thin scrollbar-track-gray-400 scrollbar-thumb-black;
      @apply overflow-auto;
    }
  }
  .editor.light {
    @apply text-black;
  }
  .css-editor {
    @apply text-start h-full text-sm w-full 
    overflow-clip border-4 border-solid border-gray-900;
    .line-numbers {
      @apply pl-1;
    }
    .cm-scroller {
      @apply scrollbar-thin scrollbar-track-gray-400 scrollbar-thumb-black;
      @apply overflow-auto;
    }
  }
  .css-editor.light {
    @apply text-black;
  }
  .variables-editor-container {
    @apply relative flex flex-col max-h-[33%];

    .titlebar {
      @apply flex justify-between bg-gray-800 px-3 w-full box-border 
      border-x-4 border-gray-900 items-center;
      .title {
        @apply text-blue-400 text-sm;
      }
      .collapse-icon {
        @apply clickable hover:text-blue-300;
      }
    }

    .variablesEditor {
      @apply text-start text-sm w-full
      overflow-clip border-4 border-solid border-gray-900;

      .cm-scroller {
        @apply scrollbar-thin scrollbar-track-gray-400 scrollbar-thumb-black;
        @apply overflow-auto;
      }
    }
    .variablesEditor.light {
      @apply text-black;
    }
    .maximize {
      @apply h-96;
      // animation: maximizeAnimation 0.2s;
    }
    .minimize {
      @apply h-0 border-t-0;
      // animation: minimizeAnimation 0.2s;s
    }
    @keyframes maximizeAnimation {
      0% {
        height: 0%;
      }
      100% {
        height: 100%;
      }
    }
    @keyframes minimizeAnimation {
      0% {
        height: 100%;
      }
      100% {
        height: 0%;
      }
    }
  }
}
