.sidebar {
  @apply flex flex-col items-center justify-between gap-1
   rounded-bl-sm mb-1 overflow-x-clip
   bg-[#2e2e2e] text-white text-center text-lg;

  .helpPopup {
    @apply fixed top-0 left-0 w-screen h-screen bg-black 
    bg-opacity-10 backdrop-blur-md z-50 overflow-auto;
    .navbar {
      @apply relative flex px-8 text-2xl h-[5%] items-center justify-between;
      .topics {
        @apply flex justify-between overflow-clip p-4 gap-2 w-full;
        h2 {
          @apply bg-black bg-opacity-20 rounded-full px-4 clickable
        select-none hover:bg-opacity-10 hover:bg-white text-lg;
        }
      }
      .icon {
        @apply text-red-600 hover:text-red-500;
      }
    }
    .topic {
      @apply flex flex-col px-2 overflow-clip w-full h-[95%]
      border-2 border-gray-300 border-opacity-5 rounded-lg;
      p {
        @apply text-base;
      }
    }
  }
  .showSidebarBtn {
    @apply flex items-center justify-center h-8 w-full text-center 
     hover:bg-green-500 clickable select-none;
    .icon {
      @apply text-2xl text-gray-300;
    }
  }
  .showSidebarBtn.show {
    @apply absolute z-10;
  }
  .showSidebarBtn.hide {
    @apply relative rounded-br-sm px-2;
  }
  .content {
    @apply items-center justify-between gap-1
    overflow-x-clip h-full;

    .themeSelector {
      @apply flex flex-col items-center h-2/5 w-full mt-8;
      .dark {
        @apply bg-[#222] text-white;
      }
      .light {
        @apply text-[#222] bg-white;
      }
      .menu {
        @apply h-full rounded-b border-2 border-solid border-green-900
      scrollbar-thin scrollbar-thumb-green-700 scrollbar-track-gray-700;
        overflow: auto;
      }
      .Dropdown-option {
        @apply hover:bg-gray-500 select-none;
      }
      .Dropdown-placeholder {
        @apply w-full hover:bg-green-500 rounded select-none clickable;
      }
    }
    .githubStats {
      @apply flex flex-col bg-[#222] justify-center items-center p-2 text-center
     overflow-clip whitespace-nowrap gap-3;

      .usernameInput {
        @apply flex flex-col justify-center items-center text-center
        overflow-clip gap-2;
      }
      label {
        @apply w-full;
      }
      .repoList {
        @apply h-40 overflow-auto text-xs bg-white bg-opacity-5 whitespace-normal w-full;
        @apply scrollbar-thin scrollbar-track-gray-400 scrollbar-thumb-black;
        @apply overflow-y-auto overflow-x-clip;
      }
      .helpBtn {
        @apply rounded-full px-4 bg-slate-300 text-black opacity-80 
        hover:opacity-100 select-none;
      }
      .helpBtn:active {
        animation: AnimateOpacity 0.2s;
      }
      @keyframes AnimateOpacity {
        0% {
          opacity: 0.8;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
  .content.show {
    @apply animate-fadeIn flex flex-col;
  }
  .content.hide {
    @apply hidden;
  }
}
.sidebar.show {
  @apply fixed z-10 left-0 lg:w-2/12 w-full h-full
  pb-2 px-2;
  animation: show-sidebar 1s ease;
}
.sidebar.hide {
  @apply relative lg:fixed left-0 z-10 w-full lg:w-fit h-fit 
 hover:bg-green-500;
  animation: hide-sidebar 1s ease;
}
@media (min-width: 1024px) {
  .sidebar.show {
    @apply relative animate-grow;
  }
  .sidebar.hide {
    @apply animate-shrinkSideBar-lg;
  }
}
@keyframes show-sidebar {
  0% {
    height: 32px;
  }
  100% {
    height: 100%;
  }
}
@keyframes hide-sidebar {
  0% {
    height: 100%;
  }
  100% {
    height: 32px;
  }
}
