@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800");
@keyframes rotate {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
@keyframes gradientMoveIn {
  0% {
    background-size: 10000% 10000%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gradient {
  0% {
  }
  50% {
    background-size: 130% 130%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@keyframes currstreak {
  0% {
    font-size: 3px;
    opacity: 0.2;
  }
  80% {
    font-size: 34px;
    opacity: 1;
  }
  100% {
    font-size: 28px;
    opacity: 1;
  }
}
.bg {
  background-color: #292929;
}
.container {
  display: flex;
  flex-direction: column;
  font-family: "JetBrains Mono", monospace;
  gap: 24px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #490e9d13 20%, #cc2c4d52 50%, #6c2c4d82);
  background-size: 100% 100%;
  background-position: 0% 0%;
  animation: gradientMoveIn 5s ease, gradient 10s ease-in-out infinite;
  color: white;
  text-align: center;
  box-sizing: border-box;
}
.section {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding: 24px;
  font-size: 16px;
  box-sizing: border-box;
  animation: fadeIn 1s ease;
}
.section .title {
  margin: 12px;
  color: #ea1f6a;
  text-shadow: 0 1px 0 #ea3f7a;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: rotate ease-in-out 1s infinite alternate;
}
.repos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  text-transform: capitalize;
}
.repo {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-radius: 10px;
  padding: 8px 8px 8px 8px;
  border: 2px solid white;
}
.repo-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.repo-bottom {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.repo .description {
  font-size: 14px;
  text-align: start;
}
.repo .count {
  font-size: 14px;
  justify-self: end;
}
.repo .name {
  font-size: 90%;
}
.repo.C-Cpp-CompilerRunner .name,
.repo.C-Cpp-CompilerRunner .lang {
  color: var(--gsr-C-Cpp-CompilerRunner-langcolor);
}
.repo.github-styledreadme-creator .name,
.repo.github-styledreadme-creator .lang {
  color: var(--gsr-github-styledreadme-creator-langcolor);
}
.repo.alura-geek .name,
.repo.alura-geek .lang {
  color: var(--gsr-alura-geek-langcolor);
}
.repo.avrio .name,
.repo.avrio .lang {
  color: var(--gsr-AVRIO-langcolor);
}
.skill-category {
  animation: fadeIn 2s ease;
  margin-bottom: 8px;
}
.skill-category .category-title {
  font-weight: 400;
}
.skill-category .icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  animation: fadeIn 2.5s ease;
  align-items: center;
  justify-content: center;
}
.skill-category .icons-container img {
  width: 50px;
  height: 50px;
}
.toplangs-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: fit-content;
  width: 50%;
  margin: auto;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0 8px 0 8px;
}
.toplangs-container .bar {
  display: flex;
  width: 100%;
  height: 8px;
  background: black;
  border-radius: 8px;
  overflow: hidden;
}
.toplangs-container .bar .portion0 {
  height: 100%;
  width: var(--gsr-toplang0-percentage);
  background: var(--gsr-toplang0-color);
}
.toplangs-container .bar .portion1 {
  height: 100%;
  width: var(--gsr-toplang1-percentage);
  background: var(--gsr-toplang1-color);
}
.toplangs-container .bar .portion2 {
  height: 100%;
  width: var(--gsr-toplang2-percentage);
  background: var(--gsr-toplang2-color);
}
.toplangs-container .bar .portion3 {
  height: 100%;
  width: var(--gsr-toplang3-percentage);
  background: var(--gsr-toplang3-color);
}
.toplangs-container .bar .portion4 {
  height: 100%;
  width: var(--gsr-toplang4-percentage);
  background: var(--gsr-toplang4-color);
}
.toplangs-container .bar .portion5 {
  height: 100%;
  width: var(--gsr-toplang5-percentage);
  background: var(--gsr-toplang5-color);
}
.toplangs-container .langs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 1.75rem;
  gap: 4px;
}
.toplangs-container .lang {
  display: flex;
  align-items: center;
  text-align: center;
  height: fit-content;
  gap: 4px;
  font-size: 70%;
}
.toplangs-container .lang .lang-percentage,
.lang-name {
  padding-top: 1px;
}
.toplangs-container .lang .ball {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: black;
}
.lang .ball.p0 {
  background: var(--gsr-toplang0-color);
}
.lang .ball.p1 {
  background: var(--gsr-toplang1-color);
}
.lang .ball.p2 {
  background: var(--gsr-toplang2-color);
}
.lang .ball.p3 {
  background: var(--gsr-toplang3-color);
}
.lang .ball.p4 {
  background: var(--gsr-toplang4-color);
}
.lang .ball.p5 {
  background: var(--gsr-toplang5-color);
}
.git-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
  margin: auto;
}
.stats-container {
  display: grid;
  grid-template-columns: 10fr 1fr;
  gap: 4px;
  align-items: start;
  justify-content: start;
  text-align: start;
  background: #00000020;
  border-radius: 10px;
  padding: 4px;
  width: fit-content;
  font-size: 12px;
  border: 1px solid #ea1f6a;
}
.stats-container div {
  color: gold;
}
.streaks-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  background: #00000020;
  width: fit-content;
  padding: 4px;
  border-radius: 10px;
  border: 1px solid #ea1f6a;
}
.streaks-container .streak {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gold;
}
.streaks-container .streak .streak-title {
  font-size: 14px;
  font-weight: 200;
  color: white;
}
.streaks-container .streak .date {
  display: flex;
  font-size: 12px;
  font-weight: 100;
  color: white;
}
